<footer class="site-footer">
  <div class="footer-inner">
    <p class="footer-note"><%= config.title %> &nbsp;/&nbsp; <%= date(new Date(), 'YYYY') %> &nbsp;/&nbsp; <%= config.description || '' %></p>
  </div>
</footer>
